
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Channel</title>
    <meta charset="UTF-8" />
    <script type="text/javascript" src="./lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="./lib/angular.min.js"></script>
    <script type="text/javascript" src="./lib/angular-resource.min.js"></script>
    <script type="text/javascript" src="./lib/angular-route.min.js"></script>
    <script src="app/channel.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.css" />
</head>


<body ng-controller="ChannelController">
  <div class="">
    <div class="" ng-click="retourMenu()" style="cursor:pointer"><i class="">Retour au Menu</i></div>
    <div class="" ng-click="supprimerChannel()" style="cursor:pointer"><i class="">Supprimer Channel</i></div>
    <h5>{{ channel.label }}</h5>
    <blockquote>{{ channel.topic }}</blockquote>
</div>
